html {
    font-size: 100%;
}

body {
    margin: 0
}

#wrapper {
    width: 1200px;
    margin: auto
}

#menue, #leftmenue, #footermenue {
    list-style: none;
    margin: 0;
    padding: 0
}

#menue li {
    float: left;
    border-right: 1px dotted #333
}

#menue li a, #leftmenue li a {
    padding: 10px;
    display: block;
    background-color: #dedede;
    color: #333;
    text-decoration: none
}

#menue li a:hover, #leftmenue li a:hover {
    background-color: #b9b9b9;
    color: #fff
}

#left {
    float: left;
    width: 250px
}

#leftmenue li {
    border-bottom: 1px dotted #333
}

#menue li:last-child, #leftmenue li:last-child {
    border: none
}

#right {
    float: right;
    width: 940px
}

.center {
    text-align: center
}

.bold {
    font-weight: 700
}

#footer {
    width: 100%;
    height: 100px;
    background-color: #333;
    clear: both;
    position: relative
}

#copyright {
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: .8em;
    width: 100%;
    left: 0;
    bottom: 10px
}

#footermenue li {
    width: 200px;
    padding: 5px 0 0 10px
}

#footermenue li a {
    color: #fff;
    text-decoration: none
}

a.active {
    background-color: #40B3C3 !important;
    color: #fff !important
}

a.footeractive {
    color: #40B3C3 !important
}

#produkte {
    list-style: none;
}

#produkte li {
    background-image: url("../icons/check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 1.5em;
    margin: 5px 0 5px 0;
}

#zahlen {
    list-style-type: upper-roman;

}

#zahlen li {
    margin-bottom: 8px;
    font-weight: bold;
}

table.products {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table.products th {
    text-align: left;
}

table.products tr.row_2 {
    background-color: #40B3C3;
}

table.products tfoot td {
    text-align: center
}

.rightimage {
    float: right;
}

a.btn {
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin-top: 30px;
    display: inline-block;
}

.btn-orange {
    background-color: orange;
}

.btn-magenta{
    background-color: magenta;
}
a.btn-magenta:hover{
    background-color: #ff93ff;
    box-shadow:0 0 2px 2px rgba(99, 171, 255, 0.5)
}
@media(min-width:750px) AND (max-width:1100px) {
    .btn-orange {
        background-color: #0ae181;
    }
}
.form-row {
    padding:5px;
}
.form-label {
    float:left;
    width:100px;
}
input.button {
    background-color:#40B3C3;
    border: none;
    padding:10px 20px;
    border-radius:6px;
    color: #fff;
    font-weight:bold;
}